<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"></link>
    {% load static %}
    <link rel="stylesheet" href="{% static 'wish_list/css/style2.css' %}">
    <title>Users</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="/dashboard"><button class="btn btn-primary">Home</button></a> <a href="/logout"><button class="btn btn-danger">Logout</button></a>
          <h2>{{user.poster.item}}</h2>
          <h3 class="my-5">Users who added this product/item to their wish list:</h3>
          {% for other in others_wl %}
          <p>{{other.poster.name}}</p>
          {% endfor %}
        </div>
      </div>
    </div>


  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</html>
